@import url(url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

*{margin: 0;padding: 0;text-decoration: none;}
header{
  width: 100%;
  height: 80px;
  background-color: #FFF7E4;
}
header{
  width: 100%;
  height: 80px;
  background-color: #FFF7E4;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid blue;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a{
  color: #000000;
  text-transform:lowercase;
  font-family: 'Caveat Brush', cursive;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  transition: 1s;
}

header nav ul li a:hover{
  color: #ffffff;
  font-size: 1.4em;
  transition: 1s;
}

.menu1{width: 298px;}
.menu2{width: 495px;}
.menu3{width: 84px;}
.menu4{width: 70px;}
.menu5{width: 63px;}
.menu6{width: 57px;}
.menu7{width: 30px;}


.sub{
 display: flex;
 justify-content: center;
 align-items: center;
}

.copy{
  width: 100%;
  height: 79px;
  background-image: url('img/copy.png');
}

.cont_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  width: 100%;
  height: 79px;
  background-color: #FFD267;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4F4F4F;
  font-family: 'Caveat Brush', cursive;
  font-size: 0.8em;
  letter-spacing: -0.05em;
}
